<div class="main">
    <div class="first">
        <h2>פרטים נוספים</h2>
        <p>השיעורים מתקיימים בימי שלישי רביעי וחמישי בין השעות 17:00 - 19:00 בדירה בחולון</p>
        <p>השיעור אורך כשעה אך כמובן שניתן להירשם גם לשעתיים ויותר</p>
        <p>השיעורים מתאימים לילדים מגיל 5 ועד נערים בגיל 16-17</p>
        <p>נשמח שתצרו איתנו קשר לעוד פרטים</p>
    </div>
    <div class="second">
        <h2>יצירת קשר</h2>
        <p>טלפון: 0549470093</p>
        <p>studioHolon@gmail.com :מייל</p>
        <p><img src="../../../assets/icons/linkedin.png" alt="linkedin" (click)="linkedinProfile()">  האתר נבנה ע"י מקס ויבנצוב</p>
    </div>
</div>