div{
    display: inline-block;
    text-align: center;
    margin: 3rem 3rem 1rem;
}

h1{
    padding-bottom: 1rem;
}

a{
    margin: 2rem 1rem 0;
    width: 9rem;
    height: 2rem;
    font-size: small;
}

p{
    font-size: 0.9rem;
}

p,h1{
    text-align: right;
}

.btn{
    background-color: #7DE4FD;
}

.btn:hover{
    background-color: #D1F5FF;
}

/* responsive design */

@media (max-width: 777px) {

}

@media (min-width: 777px) and (max-width: 900px) {
    p{
        font-size: 10px;
    }

    a{
        margin: 2rem 1rem 0;
        width: 7rem;
        height: 1.8rem;
        font-size: small;
    }

    div{
        margin-bottom: 4rem;
    }
  }
  
  @media (min-width: 900px) and (max-width: 1024px) {
    p{
        font-size: 12px;
    }
  }


/* @media (min-width: 1025px) and (max-width: 1200px) {} */