.firsr-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 1rem 0 4rem;
}

.second-section{
    text-align: center;
    background-color: #7DE4FD;
    padding: 3rem 0 3rem;
}

.thired-section{
    background-color: #FAF9F9;
    height: 15rem;
}

@media (max-width: 777px) {
    .firsr-section{
        justify-content: center;
    }
}